.basket-container {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    .fa-minus-orange, .fa-plus-orange {
        color: orange;
    }
    .basket-button-container {
        padding: 10px;
    }

    .basket-buttons {
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
    }

    i {
        padding: 5px;
    }

    i:hover {
        cursor: pointer;
        background-color: black;
        opacity: .2;
        border-radius: 50%;
    }
}

.basket-button-container {
    border: none !important; 
    padding: 10px;
}