.product-container{
    span{
      font-size: 18px;
      margin-top: 10px;
    }
    strong{
        font-size: 18px;
    }
    .product-price{
        color: orange;
        font-size: 26px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
  }